.sign-up {
    justify-content: center;
    text-align: center;
    margin-left: 5px;
    height: 30px;
    width: 200px;
    margin-top: 0px;

}


.login-container {
    margin-top: 0px;
    padding: 30px;
    margin-left: 100px;
    text-align: center;
    width: 350px;
}