@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Monstserrat';
    src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Monstserrat';
    src: url('assets/fonts/Montserrat-Light.otf') format('truetype');
    font-weight: lighter;
}
body{
    width : 100%;
    margin: 0 auto;
    height: 100vh;
    background-image: url('assets/images/background2.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.judul{
    color: #15B7B9;
    padding-left: 50px;
    
}
.judul_login{
    color: #15B7B9;
    text-align: justify;
    justify-content: center;
}
#judul1{
    font-size: 90px;
    margin-top: 100px;
    margin-bottom: 1px;
    margin-left: 20px;
    font-family: Montserrat;
    font-weight: bold;
}
#judul2{
    font-size: 30px;
    margin-top: 1px;
    margin-left: 20px;
    font-family: Montserrat;
    font-weight: normal;
}

.garis-bawah {
    width: 30%;
    height: 2px;
    background-color: #15B7B9;
    margin-left: 70px;
}

#judul_login{
    font-size: 50px;
    margin-top: 1px;
    font-family: Montserrat;
    font-weight: lighter;
}

#subjudul_login{
    font-size: 15px;
    margin-top: 1px;
    font-family: Montserrat;
    font-weight: normal;
}

.text_form{
    color: #6160c5;
}

.form{
    box-shadow: black;
    padding: 5px;

}

#keterangan{
    width: 350px; /* Lebar maksimal paragraf */
    word-wrap: break-word; /* Memastikan kata panjang terpecah */
    overflow-wrap: break-word; /* Alternatif untuk kata panjang */
    margin-top: 20px;
    margin-left: 70px;
    font-family: Montserrat;
    font-weight: bold;
    color: #15B7B9;
}

#body_main{
    background-color: white;
}

.navbar{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    /* padding: 20px 20px; */
    height: 50px;
    margin-right: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    background-color: white;
}

.nav-links{
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #15B7B9;
    font-family: Montserrat;
    font-weight: bold;
}

.search-icon i{
    font-size: 20px;
    color: #15B7B9;
    /* margin-right: 50px; */
}

.search-icon i:hover{
    color: darkcyan;
}

.button-container{
    text-align: left;
    margin-left: 60px;
    margin-top: 30px;
}

.button {
    padding: 12px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
    margin: 5px;
}

.get-started{
    background-color: #15B7B9;
    color: white;
}

.sign-up{
    background-color: white;
    color: #15B7B9;
    border: 2px solid #15B7B9;
}

#username,#password{
    justify-content: center;
    border: 1px solid #15B7B9;
    border-radius: 20px;
    margin-left: 5px;
    height: 30px;
    width: 200px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);

}


.login-container {
    background: rgba(255, 255, 255, 0);
    margin-top: 80px;
    padding: 30px;
    margin-left: 100px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgb;
}
.linked_text{
    color: #15B7B9;
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: none;
}

.non_linked_text{
    color: #15B7B9;
    font-family: Montserrat;
    font-weight: normal;
}
.btn{
    height: 50px;
    width: 180px;
    justify-content: center;
    background-color: #15B7B9;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: bold;
}
/* input {
    border: none;
    outline: none;
    background: transparent;
} */