@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Monstserrat';
    src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
}


body{
    width : 1440px;
    margin: 0 auto;
    height: 1024px;
    overflow: hidden;
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-repeat: center;
}

.judul{
    color: #15B7B9;
    padding-left: 50px;
    
}
#judul1{
    font-size: 90px;
    margin-bottom: 1px;
    font-family: Montserrat;
    font-weight: bold;
}
#judul2{
    font-size: 30px;
    margin-top: 1px;
    font-family: Montserrat;
    font-weight: normal;
}
.login{
    text-align: center;
}

.text_form{
    color: #6160c5;
}

.form{
    box-shadow: black;
    padding: 5px;

}

#keterangan{
    width: 350px; /* Lebar maksimal paragraf */
    word-wrap: break-word; /* Memastikan kata panjang terpecah */
    overflow-wrap: break-word; /* Alternatif untuk kata panjang */
    margin-left: 50px;
    font-family: Montserrat;
    font-weight: bold;
    color: #15B7B9;
}

#body_main{
    background-color: white;
}