:root {
    --primary-color: #15B7B9;
    --secondary-color: #10a5a7;
    --background-color: white;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.otf') format('truetype');
    font-weight: lighter;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat';
    color: var(--primary-color);
}

.background{
    background-image: url('../assets/images/background2.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.login-container {
    margin-top: auto;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.login-wrapper {
    margin-top: 0px;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;   
}

.judul {
    color: var(--primary-color);
    /* padding-left: 50px; */
}

#judul1 {
    font-size: 90px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: bold;
}

#judul2 {
    font-size: 30px;
    margin-top: 0px;
    padding: 0px;
    font-weight: normal;
}

.garis-bawah {
    width: 60%;
    height: 2px;
    background-color: var(--primary-color);
    margin-left: 0px;
    line-height: 2;
}

#judul_login {
    font-size: 60px;
    margin-bottom: 1px;
    font-weight: lighter;
}

#subjudul_login {
    font-size: 15px;
    margin-top: 1px;
    font-weight: normal;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

/* .input-group i {
    margin-right: 10px;
    color: var(--primary-color);
} */

.input-group input {
    padding: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    border-radius: 20px;
    border: white;
}

.btn {
    height: 50px;
    width: 180px;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.linked_text {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.non_linked_text {
    color: var(--primary-color);
    font-weight: normal;
}

@media (max-width: 768px) {
    .login-container {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }

    #judul1 {
        font-size: 60px;
    }

    #judul2 {
        font-size: 20px;
    }
}